<ion-view view-title="Rastreio">
	<ion-content>
		<div class="item item-divider item-energized header-rastreio">
			Pedido #1
		  </div>
		 <ion-list class="list-borderless list-timeline">
                <ion-item class="item-avatar item-transparent item-text-wrap">
					
                    <img src="img/checklist.png">
					<div class="item-inativo-timeline">
						<h3>Pedido realizado</h3>
						<h2>30/11/15 10:25</h2>
						<span class="badge badge-timeline status-completo">Completo</span>
					</div>
                </ion-item>
                <ion-item class="item-avatar item-transparent item-text-wrap">
                    <img src="img/dinheiro.png">
					<div class="item-inativo-timeline">
						<h3>Autorização de pagamento</h3>
						<h2>01/12/2015 15:10</h2>
						<span class="badge badge-timeline status-completo">Completo</span>
					</div>
                </ion-item>
                <ion-item class="item-avatar item-transparent item-text-wrap item-ativo-timeline">
                    <img src="img/caminhao.png">
					<div class="item-ativo-timeline">
						<h3>Produto(s) em transporte</h3>
						<h2>01/12/2015 20:00</h2>
						<span class="badge badge-timeline status-andamento">Em andamento</span>
					</div>
                </ion-item>
                <ion-item class="item-avatar item-transparent item-text-wrap last-item-timeline">
                    <img src="img/home.png">
					<div class="item-inativo-timeline">
						<h3 class="nubank">Produto(s) entregue(s).</h3>
						<h2>Previsão: 05/12/2015</h2>
						<span class="badge badge-timeline status-pendente">Pendente</span>
					</div>
                </ion-item>
             
            </ion-list>
		
	</ion-content>
</ion-view>